
.header{
    background-color: red;
    height:70px;
    text-align: center;
}

.main-label{
    background-color: rgb(247, 233, 215);
    height:415px;
    >h2 {
        text-align: center;
        font-weight: bolder;
        margin-top: 0;
    }

}
    /* text-align: center;
    font-weight: bold;
    padding: 10px; */

.container{
    background-color: aquamarine;
    padding: 20px;
}
.content{
    background-color: cadetblue;
    height: 300px;
    position:relative; 
    display: flex;
}
.blue-box{
    background-color: blue;
    width: 400px;
    height: 100%;
}

.yellow-box{
    background-color: yellow;
    width: 80px;
    height: 80px;
    position: absolute;
    left:400px;
    top:0;
}

.green-box{
    background-color: yellowgreen;
    width: 80px;
    height: 80px;
    position: absolute;
    right:0%;
    bottom: 0%;
}